//
//  Secret.xcconfig
//  Under The Weather
//
//  Created by Matthew Lock on 13/05/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
API_KEY = a4w1dtvq9menhmedskt41xnp8t1eg6m3pumoju0w

CITY_API_KEY = 37374369-757b25595b798bd5858ccd8ce
